:root {
    --light_pink : #FFC7C7 ;
    --beige : #FEF4EA;
    --dark_white : #FDFDFD ;
    --dark_pink : #CF697B;
    --dark-grey : #5A5250;
    --grey2 : #706663;
    --place_holder : #aaaaaa;
    --transparent_grey :#ADA9A8 ;


}


.lightmode{
    --light_pink : #FFC7C7 ;
    --beige : #FEF4EA;
    --dark_white : #FDFDFD ;
    --dark_pink : #CF697B;
    --dark_grey : #5A5250;
    --grey2 : #706663;
    --place_holder : #aaaaaa;
    --transparent_grey :#ADA9A8 ;
}

.darkmode{
    
    --dark_white : #393534; ;
    --light_pink : #FFC7C7 ;
    --beige : rgb(117 56 56);
    --dark_pink : #CF697B;
    --dark_grey : #fef4ea;
    --grey2 : #FDFDFD ;
    --place_holder : #aaaaaa;
    --transparent_grey :#ADA9A8 ;
 }
 