:root {
    --light_pink : #FFC7C7 ;
    --beige : #FEF4EA;
    --dark_white : #FDFDFD ;
    --dark_pink : #CF697B;
    --dark-grey : #5A5250;
    --grey2 : #706663;
    --place_holder : #aaaaaa;
    --transparent_grey :#ADA9A8 ;


}