/* ----- GENERAL SETTINGS ----- */

h2{
    text-align: left
}

h3{
    font-size: 1.5rem;
}

section{
    margin-bottom: 64px;
}

p{
    font-weight: 500;
    color: #5A5250;
}

/* ----- TOP PART ----- */
/* another fucking go button */
#launch-QCM{
    display: flex;
    justify-content: space-around;
    margin: 32px 0;
}



/* ----- MOBILE CONTROL NAV ----- */

/* basic nav settings */
#nav-opener{
    margin: -8px -8vw;
    width: 100vw;

    padding: 16px 0;

    text-align: center;
    background-image: url('../images/pannel_open.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#control-nav nav{
    width: 280px;
    margin: 0 auto;
    border: solid 3px #FFC7C7;
    border-top: 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    transition: all .3s linear 0s;
    -webkit-transition: all .3s linear 0s;
    -moz-transition: all .3s linear 0s;
    -ms-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
}

#control-nav nav a{
    display: block;

    padding: 12px 0;

    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #5A5250;
}

/* nav appears and disappears */
#control-nav nav a:first-of-type{
    padding-top: 0;
}

.mobile-nav-disappear{
    height: 0px;
    overflow-y: hidden;
}

/* for tablets or half PC screens */
@media screen and (min-width: 600px){
    #nav-opener{
        margin-bottom: 0;
    }

    #control-nav nav a{
        padding: 24px 0;
    }

    .mobile-nav-disappear{
        height: 8px;
    }
}


/* ----- OVERALL VIEW ----- */
/* setting the table */
table{
    width: 80%;
    font-weight: bold;
    color: #5A5250;
}

tr{
    height: 32px;
}

tr :last-child{
    border-left: 2px solid #FFC7C7;
    padding-left: 24px;
}


