/* ----- GENERAL SETTINGS ----- */

h2{
    text-align: left;
}


/* ----- FORM ----- */
/* simple inputs */

#validate-button{
    width: 90%;
    margin: 64px auto;
}

@media screen and (min-width: 1200px){
    form #validate-button{
        width: 50%;
    }

    form{
        width: 50%;
        margin: 64px 0;
    }
}

::placeholder{
    color: var(--place_holder);
}

/* checkboxes */
.checkbox-line{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-line > span{
    width: 80%;
    font-size: 0.8rem;
    color : var(--dark_grey)
}

/* details */
#champs-obligatoires{
    font-size: 0.8rem;
    text-align: center;
    color: var(--dark_pink);
}

/* ----- UNDER FORM ----- */
#under-form{
    margin: 32px 0;
}

#under-form > p{
    font-size: 1rem;
}

#under-form a{
    text-decoration: underline;
}


/* ----- OTHER STUFF ----- */
#top-right-acces-pro{
    position: absolute;
    top: 25vh;
    right: 5vw;

    font-size: 2rem;

    color: var(--dark_pink);
    text-decoration: underline;
}

#top-right-acces-pro:hover{
    color: #68343e;
}

@media screen and (max-width: 899px){
    #top-right-acces-pro{
        font-size: 1.5rem;
    }
}