/* ----- GENERAL SETTINGS ----- */

h2{
    text-align: left;
}


/* ----- FORM ----- */
/* simple inputs */
form{
    margin: 64px auto;
    width: 90%;


    display: flex;
    flex-direction: column;
    padding: 32px;

    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    border: 1px solid #5A5250;
}

#validate-button{
    width: 90%;
    margin: 64px auto;
}

@media screen and (min-width: 1200px){
    form, #validate-button{
        width: 50%;
        margin: 64px 0;
    }
}

form input, form select{
    margin: 8px 0;
    height: 40px;

    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    border: 2px solid #dddddd
}

::placeholder{
    color: #aaaaaa;
}

/* checkboxes */
.checkbox-line{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-line > span{
    width: 80%;
    font-size: 0.8rem;
}

/* details */
#champs-obligatoires{
    font-size: 0.8rem;
    text-align: center;
    color: #CF697B;
}

/* ----- UNDER FORM ----- */
#under-form{
    margin: 32px 0;
}

#under-form > p{
    font-size: 1rem;
}

#under-form a{
    text-decoration: underline;
}


/* ----- OTHER STUFF ----- */
#top-right-acces-pro{
    position: absolute;
    top: 20vh;
    right: 5vw;

    font-size: 2rem;

    color: #CF697B;
    text-decoration: underline;
}

#top-right-acces-pro:hover{
    color: #68343e;
}

@media screen and (max-width: 899px){
    #top-right-acces-pro{
        font-size: 1.5rem;
    }
}