@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&family=Major+Mono+Display&display=swap');


/* ---------- GENERAL SETTINGS ---------- */
@import "colors.css";

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--dark_white);
}

.pouf{
    display: none;
}

/* fonts */
html{
    font-size: 16px;
}

body{
    font-family: 'Crimson Pro';
}

main{
    min-height: 100vh;
}

h2{
    margin: 16px 0;
    color : var(--dark_grey) ;
    text-align: center;
    font-size: 1.7rem;
}

h3{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--grey2);
}

label{
    color : var(--dark_grey)
}

p{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--grey2);
}

a{
    color: var(--grey2);
    text-decoration: none;
}





/* ---------- PREMADE ELEMENTS ---------- */

@media screen and (max-width: 900px){
    .mobile-hidden{
        display: none;
    }
}

@media screen and (min-width: 899px){
    .desktop-hidden{
        display: none;
    }
}

.outer-circle{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius:100% ;
    -webkit-border-radius:100% ;
    -moz-border-radius:100% ;
    -ms-border-radius:100% ;
    -o-border-radius:100% ;
}

.outer-circle :first-child{
    height: 90%;
    width: 90%;

    border-radius:100% ;
    -webkit-border-radius:100% ;
    -moz-border-radius:100% ;
    -ms-border-radius:100% ;
    -o-border-radius:100% ;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.big-red-button{
    width: 70vw;
    height: 56px;
    margin: 32px auto;

    display: block;
    padding: 8px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border: none;

    background-color: var(--dark_pink);
}

.big-red-button:hover{
    background-color: #af5a6a;
}

.big-red-button > p{
    color: var(--dark_white);
    text-align: center;
    margin: 0 auto;
}

.no-click{
    pointer-events: none;
}

/* forms */
form{
    margin: 64px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    border: 1px solid var(--dark_grey)
}

form input, form select, form textarea{
    margin: 8px 0;
    height: 40px;

    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    border: 2px solid #dddddd
}

.date_input{
    padding-left: 6px;
}

/* cards */
.grid-card{

    display: flex;
    width: 26%;
    height: 128px;
    margin-bottom: 64px ;

    align-items: center;

    border: 1px var(--light_pink) solid;
    background-color: var(--dark_white);
}

.grid-card > img{
    height: 128px;
    width: 128px;
}

.grid-card > div{
    width: 70%;
    margin-right: 8px;
    padding: 4px;

    text-align: right;
}

.grid-card h4, .grid-card p{
    font-size: 1.1rem;
}

@media screen and (max-width: 600px){
    .grid-card{
        width: 90%;
    }
}


/* ---------- HEADER & FOOTER ---------- */

header{
    height: 100px;
    padding: 0 32px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--light_pink);
}


header a:hover{
    color: var(--dark_white);
    text-decoration: underline;
}

 /* header images */
 #mobile-header>a{
    display: block;
    height: 60px;
    width: 60px;

    background-size: contain;
    background-repeat: no-repeat;
}

#mobile-header :nth-child(1){
    background-image: url('../images/burger_icon.svg');
}

#mobile-header :nth-child(2){
    background-image: url('../images/pt_logo.svg');
}

#mobile-header :nth-child(3){
    background-image: url('../images/profile_icon.svg');
}

/* desktop header */
@media screen and (min-width: 900px){
    #mobile-header{
        display: none;
    }

    #desktop-header{
        display: flex;
        width: 100%;
    }

    #desktop-header > *{
        display: flex;
    }

    #desktop-header nav{
        width: 50%;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--dark_white);
    }

    #desktop-header>a>img{
        height: 60px;
    }

    #desktop-header #switch > img {
        width : 8vw;
    }
    #desktop-header #switch {
        padding: 0;
    }
}

/* burger menu */
#burger-menu{
    margin: 0 auto;

    width: 70%;
    height: 100vw;
}

#burger-menu h3{
    margin-bottom: 32px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    text-align: left;
}

#burger-menu .register-button{
    width: 80%;
}

#switch {
    border: none;
    background-color: transparent;
    padding-top: 3vh;
    padding-left: 0;
    width: auto;
    
}

#switch > img {
    width : 16vw;
}


/* header wave */
#header-wave{
    width: 100%;
    height: 100px;
    margin-top: -2px; /* no space between header and wave */

    background-image: url('../images/vagues_header.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

@media screen and (min-width: 1500px) {
    #header-wave {
        height: 200px;
    }
}

/* footer */
footer{
    height: 250px;
    width: 100%;

    padding: 16px;

    background-color: var(--light_pink);
}

footer a{
    display: inline-block;
    min-width: 49%;
    color: var(--dark_grey);
    text-decoration: none;
    font-size: 1rem;
}

footer a:hover{
    color: white;
}

footer a:nth-of-type(2n){
    text-align: right;
}

/* desktop footer */
@media screen and (min-width: 900px){
    footer{
        background-image: url('../images/footer_bg.svg');
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
    }
}




/* ------------ MAIN ----------- */

main{
    padding: 0 10vw;
}

section{
    margin-bottom: 150px;
}

@media screen and (min-width: 900px){
    section{
        margin: 200px 0;
    }
}

/* DARMODE COLORS */

