/* ----- GENERAL SETTINGS ----- */

section{
    margin-top: 64px;
}

h2{
    text-align: left;
}

h3{
    margin-left: -16px;
    margin-bottom: 24px;

    text-align: left;

    font-size: 1.6rem;
    font-weight: normal;
}

h4{
    font-size: 1.2rem;
    margin-bottom: 16px;
}

p{
    margin-bottom: 8px;
    color: #aaa;
    font-weight: normal;
}



/* ----- PAGE TOP ----- */

h2 img{
    height: 20px;
    margin-left: 24px;
}



/* ----- PROFILE INFORMATIONS ----- */
#profile{
    display: flex;
    justify-content: space-between;
}
#profile > img{
    height: 300px;
    width: 200px;

    object-fit : cover;
}



/* ----- SERVICES ----- */
#services > div{
    display: flex;
    flex-wrap: wrap;
}

#services > div > div{
    width: 100%;
    margin-bottom: 64px;
}

@media screen and (min-width: 700px){
    #services > div > div{
        width: 44%;
        margin: 3%;
    }
}

@media screen and (min-width: 1000px){
    #services > div > div{
        width: 25%;
        margin: 3%
    }
}


/* ----- CLIENTS ----- */
table{
    width: 100%;

    text-align: center;
}

th{
    background-color: #ddd;
}

td{
    background-color: #eee;
}



/* ----- REVIEWS ----- */
#reviews{
    padding: 32px;

    background-color: #FEF4EA;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

#reviews p{
    color: black;
}

#reviews{
    display: flex;
    width: 100%;

    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

#reviews > div{
    width: 100%;
    margin-bottom: 64px;
}

.comment{
    text-align: justify;
}

.rating{
    margin: 16px 0;
}

@media screen and (min-width: 700px){
    #reviews > div{
        width: 40%;
    }
}

@media screen and (min-width: 1000px){
    #reviews > div{
        width: 25%;
    }
}
