/* ----- GENERAL SETTINGS ----- */

section{
    margin-top: 64px;
}

h2{
    margin-left: -16px;

    font-size: 2rem;
    text-align: left;
}

form{
    border: 2px solid #FFC7C7;
}

h3{
    /* margin-left: -16px; */
    margin-bottom: 24px;

    text-align: left;

    font-size: 1.6rem;
    font-weight: normal;
}

h4{
    font-size: 1.2rem;
    margin-bottom: 16px;
}

p#message {
    color : #CF697B ;
}

p{
    margin-bottom: 8px;
    color: #aaa;
    font-weight: normal;
}




/* ----- PAGE TOP ----- */

h2 img{
    height: 20px;
    margin-left: 24px;
}



/* ----- PROFILE INFORMATIONS ----- */
#profile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#profile > img{
    height: 300px;
    width: 200px;
    align-self: center;
    object-fit : cover;
}
@media screen and (min-width: 700px){
    #profile{
        flex-direction: row;
    }
    #profile > img{
        height: 300px;
        width: 200px;

        object-fit : cover;
    }

    #signature{
        display:none;
    }
}

/* CANVAS */

#sign-space{
    border :  solid 1px #CF697B;
    border-radius: 15px;
  cursor: crosshair;
}

/* PORTFOLIO & SERVICES */

.add form{
    display: none;
}

.add {
    background-image: url('../images/down_arrow.svg');
    background-position: top 10px left 300px;
    background-size: 24px;
    background-repeat: no-repeat;
}

.open-section{
    background-image: url('../images/up_arrow.svg');
}

.open-section form{
    display: flex;
}

.title{
    color : #CF697B ;
    font-weight: bold;
}




/* ----- SERVICES ----- */
#services{
    border :#CF697B solid 1px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    padding-left: 3%;
    PADDING-TOP: 3%
}

#services > div{
    display: flex;
    flex-wrap: wrap;
 
}

#services > div > div{
    width: 100%;
    margin-bottom: 64px;
    padding-right: 2%;
    
}

@media screen and (min-width: 700px){
    #services > div > div{
        width: 44%;
        margin: 3%;
    }
}

@media screen and (min-width: 1000px){
    #services > div > div{
        width: 25%;
        margin: 3%
    }
}
/* PORTFOLIOS */

#show_portfolio{
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

#show_portfolio img{
    height: 200px; 
    margin-bottom: 1em;

}

.portfolio-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right : 1%;
}


@media screen and (min-width: 700px){

    #show_portfolio img{
        height: 200px;
        width: auto ;
        margin-bottom: 1em;

}
}


/* ----- CUSTOMERS ----- */
table{
    width: 100%;

    text-align: center;
}

th{
    background-color: #ddd;
}

td{
    background-color: #eee;
}



/* ----- REVIEWS ----- */
#reviews{
    padding: 32px;

    background-color: #FEF4EA;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

#reviews p{
    color: black;
}

#reviews{
    display: flex;
    overflow-x: scroll;
    width: 100%;
    flex-direction: row;
}

#reviews > div{
    margin-bottom: 32px;
    min-width:120%;
}

.comment{
    text-align: justify;
}

.rating{
    margin: 16px 0;
}

@media screen and (min-width: 700px){
#reviews{
    width : 70vw;
}

    #reviews > div{
        min-width: 55%;
    }
}

@media screen and (min-width: 1000px){

    #reviews{
        width : 90%;
    }
    
    #reviews > div{
        min-width: 30%;
    }
}
