@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&family=Major+Mono+Display&display=swap');


/* ---------- GENERAL SETTINGS ---------- */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.pouf{
    display: none;
}

/* fonts */
html{
    font-size: 16px;
}

body{
    font-family: 'Crimson Pro';
}

h2{
    text-align: center;
}



/* ----- FORMS ----- */

form{
    margin: 0 16px;
    width: 90%;

    padding: 16px 32px;

    background-color: #FEF4EA;
    border: #ccc 1px solid;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
}

.form-navigation{
    display: flex;
    width: 100%;

    justify-content: space-between;
}

.form-navigation > a{
    font-size: 1.2rem;
}

form p{
    margin-bottom: 32px;

    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: #444;
}

form span{
    font-size: 1.2rem;
    margin-left: 32px;
}

form > div{
    display: flex;
    margin: 16px 0;
    height: 64px;

    align-items: center;
}

/* big radio buttons */
input[type="radio"]{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

/* nice looking radio buttons */
/* after creates a pseudo element after the selected element
here, we are creating a second radio button replacing the original one*/
input[type='radio']:after {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    left: -2px; /* makes the new element hide the previous radio button */
    top: -2px;

    background-color: #d1d3d1;
    content: '';
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

input[type='radio']:checked:after {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    left: -2px;
    top: -2px;

    background-color: #CF697B;
    content: '';
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

/* ----- OTHER STUFF ----- */

