/* ----- GENERAL SETTINGS ----- */
align-items
main{
    padding: 0 32px;
}

section{
    margin: 64px 0;
}

h2{
    text-align: left;
}

/* ----- PAGE TOP ----- */

#page-top{
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
    flex-wrap: wrap;
}

#page-top img{
    width: 16px;
    margin-left: 4px;
}

#filters{
    width: 100%;
    padding: 16px 0;

    background-color: #fef4ea;
}

#filters a{
    display: block;

    padding: 16px;

    font-size: 1.2rem;
    text-align: center;
}



/* ----- PRESTA LIST ----- */

.presta-card{
    display: flex;
    height: 160px;
    width: 100%;
    margin: 32px auto;
    padding-right: 8px;
    border: 1px #FFC7C7 solid;
    border-radius:4px ;
    -webkit-border-radius:4px ;
    -moz-border-radius:4px ;
    -ms-border-radius:4px ;
    -o-border-radius:4px ;
}

.presta-card > img{
    width: 40%;
    height: 100%;
    margin-right: 16px;

    object-fit: cover;
}

.presta-card h3{
    padding-top: 8px;

    font-size: 1.4rem;
    text-align: left;
}

.presta-card h4{
    color: #ADA9A8;
    font-size: 1.4rem;
}

.presta-card p{
    color: #ADA9A8;
    font-size: 1.2rem;
    font-weight: normal;
}

.presta-card #contact{
    display: block;
    text-align: right;
    font-weight: bold;
}

.presta-card a img{
    width: 16px;
    margin-left: 4px;
}

.presta-card div{
    width: 60%;
}

@media screen and (min-width: 700px){
    #desktop-page-top{
        display: flex;
        justify-content: space-around;
    }

    #page-title{
        width: 50%;
    }

    #page-top{
        width: 30%;
    }

    section{
        display: flex;
        flex-wrap: wrap;
    }

    .presta-card{
        width: 40%;
    }
}

@media screen and (min-width: 1000px){

    .presta-card{
        width: 30%;
    }
}
