/* ----- GENRAL SETTINGS ----- */
section{
    margin-bottom: 64px;
}
h2{

    font-size: 2rem;
    text-align: left;
}

h3{
    margin-bottom: 24px;

    text-align: left;

    font-size: 1.6rem;
    font-weight: normal;
}

h4{
    font-size: 1.2rem;
    margin-bottom: 16px;
}

p{
    margin-bottom: 8px;
    margin-left: 16px;
    color: var(--place_holder);
    font-weight: normal;
}

/* AVATAR */
#avatar-maker {
    display: flex;
    width: 400px;

    justify-content: space-around;
}

#avatar {
    margin: 0;
}

.avatar-arrows {
    display: flex;
    height : 307px;
    width : 40px;

    flex-direction: column;
    justify-content: space-around;
}

.avatar-arrows:first-child > img{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.avatar-arrows > img {
    cursor: pointer;
    height: 40px;
    width: 40px;
}

#save-avatar {
    margin: 16px 100px 64px;
    width: 200px;
}

/* CHANGING FORMS */

.changing-forms {
    display: none;
}

#title {
    background-image: url('../images/down_arrow.svg');
    background-position: top 10px left 350px;
    background-size: 24px;
    background-repeat: no-repeat;
}

.changing-forms form {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 8px;
    margin: 16px auto;
}
.open-section{
    display: flex;
    flex-wrap : wrap  
}

.changing-forms form .required-input {
    width: 50%;
    margin: 0 10% 0 3%;
}


.changing-forms form label{
   width : 30%;
}