/* header */
header{
    display: flex;
    height: 100px;
    width: 100%;

    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

header h2{
    display: inline-block;
}


nav a{
    display: inline-block;
    margin-left: 16px;

    color: white;
}


/* list of users */
.admin-row{
    background-color: #FFC7C7;
}

td img {
    margin: 4px;
    margin-left: 24px;
}


/* consult page */
button{
    border: 0px white solid;
    background-color: white;
}

input{
    margin-right: 32px;
}
