.admin-row{
    background-color: #FFC7C7;
}

td img {
    margin: 4px;
    margin-left: 24px;
}

button{
    border: 0px white solid;
    background-color: white;
}

input{
    margin-right: 32px;
}
