/* ----- GENERAL SETTINGS ----- */

main{
    display: flex;
    flex-direction: column;
}

h2{
    text-align: left
}

h3{
    font-size: 1.5rem;
}

section{
    margin: 64px 0;
}

p{
    font-weight: 500;
    color: #5A5250;
}


/* ----- TOP PART ----- */
/* another fucking go button (should do a common class but meh) */
#page-top{
    width: 100%;

    padding: 0 8vw;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 900px){
    #page-top{
        margin-top: 80px;
    }
}

#time-left{
    font-size: 2.5rem;
    color: #5A5250;
}

#time-left img{
    height: 80px;
}

#launch-QCM a{
    display: flex;
    justify-content: space-around;
    margin: 32px 0;
}

@media screen and (max-width: 700px){
    #time-left{
        display: none;
    }
}

/* ----- DESKTOP NAVBAR ----- */
/* general settings for the navbar */
#desktop-control-nav{
    position: absolute;
    left: 0;
    top: 250px;
    width: 56px;
}

#desktop-control-nav a:first-of-type{
    border-top-right-radius: 16px;
}

#desktop-control-nav a:last-of-type{
    border-bottom-right-radius: 16px;
}

#desktop-control-nav a{
    width: 60px;
    height: 56px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;

    background-color: #FFC7C7;
}

#desktop-control-nav img{
    height: 32px;
    width: 32px;
    margin: 0 auto;

    display: block;
}

/* selected item from navbar */
#desktop-control-nav p{
    display: none;

    margin: auto 0;

    color: white;
    font-size: 1rem;
}

#desktop-control-nav a.active-nav-item{
    width: 112px;

    background-color: #CF697B;
    border-radius:0 16px 16px 0;
    -webkit-border-radius:0 16px 16px 0;
    -moz-border-radius:0 16px 16px 0;
    -ms-border-radius:0 16px 16px 0;
    -o-border-radius:0 16px 16px 0;
    transition: width 500ms;
    -webkit-transition: width 500ms;
    -moz-transition: width 500ms;
    -ms-transition: width 500ms;
    -o-transition: width 500ms;
}

#desktop-control-nav a.active-nav-item img{
    display: none;
}

#desktop-control-nav a.active-nav-item p{
    display: block;
}

@media screen and (max-width: 999px){
    #desktop-control-nav{
        display: none;
    }
}

@media screen and (min-width: 1000px){
    #page-top{
        padding-left: 16vw;
    }

    main{
        padding-left: 16vw;
    }
}


/* basic nav settings */
#nav-opener{
    margin: -16px auto;
    width: 100%;
    max-width: 500px;

    padding: 8px;

    text-align: center;
    background-color: #FFC7C7;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}

#mobile-control-nav nav{
    width: 280px;
    margin: 0 auto;
    border: solid 3px #FFC7C7;
    border-top: 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    transition: all .3s linear 0s;
    -webkit-transition: all .3s linear 0s;
    -moz-transition: all .3s linear 0s;
    -ms-transition: all .3s linear 0s;
    -o-transition: all .3s linear 0s;
}

#mobile-control-nav nav a{
    display: block;

    padding: 12px 0;

    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #5A5250;
}

/* nav appears and disappears */

.mobile-nav-disappear{
    height: 0px;
    overflow-y: hidden;
}

/* for tablets or half PC screens */
@media screen and (min-width: 600px){
    #mobile-control-nav nav a{
        padding: 24px 0;
    }

    .mobile-nav-disappear{
        height: 8px;
    }
}

/* desktop settings */
@media screen and (min-width: 1200px){
    #home-main{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #mobile-control-nav{
        display: none;
    }

    #launch-QCM{
        width: 20%;
    }

    table{
        width: 500px;
    }
}
