/* ----- GENERAL SETTINGS -----*/
main h2 {
    font-weight: bold;
}
h3 {
    text-align: left;
}


/* ----- PRESTA CARD ----- */

.presta-card {
    display: flex;
    height: 160px;
    width: 60%;
    min-width: 400px;
    padding-right: 8px;
    border: 1px var(--light_pink) solid;
    border-radius:4px ;
    -webkit-border-radius:4px ;
    -moz-border-radius:4px ;
    -ms-border-radius:4px ;
    -o-border-radius:4px ;
}

.presta-card > img {
    width: 160px;
    height: 160px;
    margin-right: 16px;

    object-fit: cover;
}

.presta-card h3 {
    padding-top: 8px;
    font-size: 1.4rem;
    text-align: left;
}

.presta-card h4 {
    color: var(--transparent_grey);
    font-size: 1.4rem;
}

.presta-card p {
    color: var(--transparent_grey);
    font-size: 1.2rem;
    font-weight: normal;
}

.presta-card #contact {
    display: block;
    text-align: right;
    font-weight: bold;
}

.presta-card a img {
    width: 16px;
    margin-left: 4px;
}

.presta-card div {
    width: 60%;
}

/* ----- NO PRESTA SELECTED ----- */
.big-red-button {
    width: 60%;
    min-width: 300px;
    max-width: 600px;
    color: white;
    margin-left: 0;
}

.big-red-button a:hover {
    color: white;
}
