
/* ----- table view ----- */
table{
    width: 80%;
    font-weight: bold;
    color: #5A5250;
}

tr{
    height: 32px;
}

tr :last-child{
    border-left: 2px solid #FFC7C7;
    padding-left: 24px;
}

/* desktop settings */
@media screen and (min-width: 1000px){
    #home-main{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #mobile-control-nav{
        display: none;
    }

    #launch-QCM{
        width: 20%;
    }

    table{
        width: 500px;
    }
}
