/* general settings */
p {
    text-align: center;
}



/* ----- table view ----- */
table{
    width: 80%;
    font-weight: bold;
    color: var(--dark_grey)
}

tr{
    height: 32px;
}

tr :last-child{
    border-left: 2px solid var(--light_pink);
    padding-left: 24px;
}

