/* general settings */
p {
    text-align: center;
}



/* ----- table view ----- */
table{
    width: 80%;
    font-weight: bold;
    color: #5A5250;
}

tr{
    height: 32px;
}

tr :last-child{
    border-left: 2px solid #FFC7C7;
    padding-left: 24px;
}

